pinecone_client==3.0.3
streamlit==1.26.0
unstructured
unstructured[pdf]
openai==1.12.0
chromadb
tiktoken
langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.25
langchain-openai==0.0.6
langchain-pinecone==0.0.2
langdetect==1.0.9
langsmith==0.1.5
